.map {
  height: 100vh;
}

.leaflet-map-pane {
  z-index: 1 !important;
}

@mixin popup-content {
  line-height: 1.4;
  padding: 13px 19px;
}

.leaflet-popup-content {
  line-height: 0 !important;
  margin: 0px 0px !important;

  & &-light {
    @include popup-content;
  }
  
  & &-dark {
    @include popup-content;
    background-color: #1a1b1e;
    color: #fff;
    border-radius: 10px;
  }
}